@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #232429;
}
.container {
    position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}
h2 {
  color: white;
  font-size: 40px;
  transition: 0.5s all;
}
.outer {
  width: 300px;
  height: 300px;
  background-color: #1b1e23;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 17px;
  transition: 0.5s all;
  z-index: 20;
}
.inner {
    height: 100%;
    width: 100%;
  display: flex;
  background-color: #1b1e23;
  gap: 17px;
  transition: 0.5s all;

}
.box {
  border-radius: 10px;
  flex: 1;
  background-color: #232429;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: bolder;
}

.refresh {
  border: 1px solid white;
  outline: none;
  padding: 20px;
  border-radius: 6px;
  height: 20px;
  width: 120px;
  background-color: #232429;
  color: white;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 25%;
    right: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.signs{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 25%;
    right: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    opacity: 0;
    z-index: -5;
}
.gameOn{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 1%;
    right: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 20px;
}
#initialize{
    transition: 0.5s all;
}
.gameOn h4{
    transition: 0.5s all;
    font-size: 20px;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    opacity: 0;
    transition: 0.7s all;
    z-index: 10;
}
label{
color: white;
}
.line{
    display: flex;
    gap: 20px;
}
input{
    width: 140px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #0f0f0f;
    color: gray;
    font-size: 15px;
}
span{
    color: red;
    display: none;
}
span.show{
    display: block;
}